html, body {
	height:auto;
	min-height: 100vh;
}

.container {
    background: linear-gradient(315deg, rgba(73, 24, 151, 0.8), rgba(60, 197, 186, 0.8));
    padding: 100px;
}

.content {
    padding: 25px;
    background: #ffffff;
}

body:after{
    content: "";
    position: fixed;
    top:0;
    height: 100vh;
    left:0;
    right:0;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat, url("../images/la.jpg") no-repeat center center;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

footer {
    position: fixed;
    display: block;
    bottom: 0px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
	color: #cccccc;
	background-color: #1f1f1f;
	border-top: 2px solid rgb(163, 143, 211);
    text-align: center;
}